// <font>======================================================================================================
//===> шрифт по умолчанию
$fontFamily: "Open Sans", sans-serif;
//===> Google Fonts
$f-Montserrat: "Montserrat";
//===> Скачанные шрифты
// ....................
$fontSize: 16;
//===> Стили
%title-paragraph {
}
// </font>=======================================================================================================

// <color>=======================================================================================================
$c-grey: grey;
$c-grey-363838: #363838;
$c-grey-454647: #454647;
$c-grey-454545: #454545;
$c-grey-707070: #707070;
$c-grey-5A5A5A: #5a5a5a;
$c-grey-6D7278: #6d7278;
$c-grey-A1A1A1: #a1a1a1;
$c-grey-8F8D8D: #8f8d8d;
$c-grey-979797: #979797;
$c-grey-DFDFDF: #dfdfdf;

$c-white: white;
$c-white-FFFFF0: #fffff0;

$c-yellow: yellow;
$c-yellow-FFEF35: #ffef35;
$c-yellow-F1D152: #f1d152;

$c-black: black;
$c-red: red;
$c-brown: brown;
$c-orange: orange;
$c-green: green;
$c-blue: blue;
$c-purple: purple;
// </color>========================================================================================================

// <grid>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920; // вписать ширину полотна
$maxWidthContainer: 1140; // вписать ширину контейнера
$md1: $maxWidthContainer + 12;
$md2: 992;
$md3: 768;
$md4: 480;
// </grid>=========================================================================================================
