.breadcrumbs {
	// .breadcrumbs__menu
	&__menu {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: $maxWidth;
		height: 55px;
		padding: 0 15px;
		margin: 0 auto;
		position: fixed;
		top: 120px;
		left: 0;
		right: 0;
		background: rgba($c-grey-DFDFDF, 0.5);
		@media (max-width: $md1+px) {
			height: 40px;
			top: 70px;
		}
		@media (max-width: 600px) {
			top: 50px;
		}
	}
	// .breadcrumbs__item
	&__item {
		&::after {
			content: "/";
			margin: 0px 3px 0px -2px;
		}
		&:last-child {
			&::after {
				display: none;
			}
		}
	}
	// .breadcrumbs__link
	&__link {
		transition: all 0.3s ease 0s;
		@media (min-width: $md2+px) {
			&:hover {
				color: darken($c-yellow-F1D152, 25%);
			}
		}
		// .breadcrumbs__link_about
		&_about {
		}
	}
}

.about-breadcrumbs {
}

html._touch .breadcrumbs__link {
	&:active {
		color: darken($c-yellow-F1D152, 25%);
	}
}
