.content-contact {
	padding: 55px 0 70px 0;
	@media (max-width: $md1+px) {
		@include adaptiv-value("padding-top", 55, 25, 55);
		@include adaptiv-value("padding-bottom", 70, 35, 70);
	}
	// .content-contact__body
	&__body {
	}
	// .content-contact__title
	&__title {
		margin: 0px 0px 40px 0px;
		font-size: 36px;
		font-weight: 700;
		line-height: 60 / 36 * 100%;
		@media (max-width: $md1+px) {
			@include adaptiv-value("margin-bottom", 40, 30, 40);
			@include adaptiv-value("padding-bottom", 10, 5, 10);
		}
	}
	// .content-contact__info
	&__info {
		margin-left: auto;
		max-width: 825px;
		@media (min-width: $md4+px) and (max-width: $md2+px) {
			@include adaptiv-value("padding-left", 40, 15, 40);
		}
	}
	// .content-contact__social
	&__social {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px 0px 20px 0px;
		max-width: 285px;
		@media (max-width: $md3+px) {
			max-width: 230px;
		}
		// .content-contact__social_link
		&_link {
		}
	}
	// .content-contact__description
	&__description {
	}
	// .content-contact__text
	&__text {
		margin: 0px 0px 20px 0px;
		line-height: 28 / 16 * 100%;
		color: $c-grey-A1A1A1;
	}
	// .content-contact__adress-block
	&__adress-block {
		line-height: 21 / 16 * 100%;
		color: $c-grey-5A5A5A;
	}
	// .content-contact__adress-text
	&__adress-text {
		margin: 0px 0px 8px 0px;
		&:last-child {
			margin: 0px 0px 15px 0px;
		}
	}
	// .content-contact__mail
	&__mail {
		display: flex;
		align-items: center;
		margin: 0px 0px 25px 0px;
		// .content-contact__mail_img
		&_img {
			display: flex;
			align-items: center;
			margin: 0px 14px 0px 0px;
		}
		// .content-contact__mail_text
		&_text {
			font-family: $fontFamily;
			font-size: 14px;
			font-weight: 600;
			line-height: 28 / 14 * 100%;
		}
	}
	// .content-contact__form
	&__form {
	}
	// .content-contact__input-block
	&__input-block {
		@media (min-width: $md4+px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0px 0px 13px 0px;
		}
	}
	// .content-contact__input
	&__input {
		flex: 0 1 49%;
		height: 40px;
		@media (max-width: $md4+px) {
			margin: 0px 0px 13px 0px;
		}
	}
	// .content-contact__message
	&__message {
	}

	// .content-contact__messege-input
	&__messege-input {
		margin: 0px 0px 20px 0px;
		height: 125px;
	}
	// .content-contact__btn
	&__btn {
		width: 180px;
	}
}
