.works {
	// Alien CLASS ===>
	// ._icon-works_icon-1, _icon-works_icon-2, _icon-works_icon-3
	._icon-works_icon-1,
	._icon-works_icon-2,
	._icon-works_icon-3 {
		&::before {
			font-weight: 700;
			color: $c-grey-363838;
		}
	}
	// .works__title
	&__title {
		@media (max-width: 600px) {
			margin: 0px 0px 30px 0px;
		}
	}
	// .works__items
	&__items {
	}
	// .works__items-box
	&__items-box {
		@media (min-width: 600px) {
			display: flex;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				height: 10px;
				width: 10px;
				left: 0;
				bottom: 0;
				transform: translate(-50%, 50%);
				background: $c-grey-363838;
				border-radius: 50%;
			}
		}
	}
	// .works__item-wrapper
	&__item-wrapper {
		// display: flex;
		// align-items: center;
		// justify-content: center;
		@media (min-width: 600px) {
			flex: 0 1 50%;
		}
		// .works__item-wrapper_row
		&_row {
			@media (min-width: 600px) {
				width: 85%;
				display: flex;
				justify-content: center;
				align-items: center;
				border-top: 1px solid $c-grey-363838;
			}
		}
	}
	// .works__item
	&__item {
		max-width: 250px;
		margin: 0px 0px 20px 0px;
		@media (min-width: 600px) {
			padding: 40px 0px;
			height: 100%;
		}

		// .works__item_line-top, .works__item_line-bottom
		&_line-top,
		&_line-bottom {
			@media (min-width: 600px) {
				position: relative;
				&::after {
					content: "";
					position: absolute;
					height: 20px;
					width: 1px;
					background: $c-grey-363838;
				}
			}
		}
		// .works__item_line-bottom
		&_line-bottom {
			@media (max-width: 600px) {
				margin-left: auto;
			}
			&::after {
				@media (min-width: 600px) {
					left: 0;
					bottom: 0;
				}
			}
		}
		// .works__item_line-top
		&_line-top {
			&::after {
				@media (min-width: 600px) {
					left: 0;
					top: 0;
				}
			}
		}
	}
	// .works__item-heading
	&__item-heading {
		display: flex;
		align-items: center;
		margin: 0px 0px 13px 0px;
	}
	// .works__item-image
	&__item-image {
		margin: 0px 10px 0px 0px;
	}
	// .works__item-title
	&__item-title {
	}
	// .works__item-text
	&__item-text {
		font-size: 16px;
		line-height: 27 / 16 * 100%;
		color: $c-grey-5A5A5A;
	}
}
