.footer {
	// .footer__content
	&__content {
		background: $c-grey-DFDFDF;
		@media (min-width: $md1+px) {
			padding: 60px 0 80px 0;
		}
		@media (max-width: $md1+px) {
			@include adaptiv-value("padding-top", 60, 20, 60);
			@include adaptiv-value("padding-bottom", 80, 30, 80);
		}
	}
	// .footer__row
	&__row {
		display: flex;
		@media (max-width: 740px) {
			flex-wrap: wrap;
		}
	}
	// .footer__column
	&__column {
		flex: 0 1 25%;
		@media (min-width: $md1+px) {
			padding: 0px 0px 0px 99px;
		}
		@media (max-width: $md1+px) {
			@include adaptiv-value("padding-left", 99, 20, 99);
		}
		@media (max-width: 740px) {
			flex: 0 0 100%;
			margin: 0px 0px 15px 0px;
			padding: 0px 0px 10px 0px;
			border-bottom: 1px solid rgba($c-grey-363838, 0.3);
			&:last-child {
				margin: 0;
			}
		}
		// .footer__column_contact
		&_contact {
			flex: 0 1 50%;
			@media (min-width: $md1+px) {
				padding: 0;
			}
			@media (max-width: $md1+px) {
				padding: 0;
			}
			@media (max-width: 740px) {
				flex: 0 0 100%;
			}
		}
		// .footer__column_contact
		&_contact {
		}
		// .footer__column_social
		&_social {
		}
		// .footer__column_more
		&_more {
		}
	}
	// .footer__contact
	&__contact {
	}
	// .footer__title
	&__title {
		width: 100%;
		text-align-last: left;
		position: relative;
		padding: 0px 0px 15px 0px;
	}
	// .footer__social
	&__social {
	}
	// .footer__more
	&__more {
	}
	// .footer__btn
	&__btn {
	}
	// Alien CLASS ===> Кнопки для спойлера
	&__btn._init &__title::before,
	&__btn._init &__title::after {
		content: "";
		width: 20px;
		height: 1px;
		background-color: $c-grey-363838;
		position: absolute;
		right: 20px;
		top: 12px;
		z-index: 1;
		transition: transform 0.3s ease 0s;
	}
	&__btn._init .footer__title::after {
		transform: rotate(-90deg);
	}
	&__btn._init &__title._active::after {
		transform: rotate(0deg);
	}
	// .footer__copyrighting
	&__copyrighting {
		display: flex;
		align-items: center;
		justify-content: center;
		background: $c-grey-363838;
		padding: 40px 0;
		@media (max-width: $md1+px) {
			@include adaptiv-value("padding-top", 40, 15, 40);
			@include adaptiv-value("padding-bottom", 40, 15, 40);
		}
		// .footer__copyrighting_text
		&_text {
			text-align: center;
			color: $c-grey-A1A1A1;
			@media (max-width: $md1+px) {
				@include adaptiv-font(16, 13, 16);
			}
		}
	}
}

.contact-footer {
	// .contact-footer__item
	&__item {
	}
	// .contact-footer__title
	&__title {
	}
	// .contact-footer__body
	&__body {
	}
	// .contact-footer__text
	&__text {
		margin: 0px 0px 15px 0px;
		max-width: 475px;
	}
	// .contact-footer__mail
	&__mail {
		display: inline-flex;
		align-items: center;
		margin: 0px 0px 22px 0px;
		// .contact-footer__mail_image
		&_image {
			display: block;
			margin: 0px 15px 0px 0px;
			width: 16px;
			height: 12px;
		}
		// .contact-footer__mail_text
		&_text {
			font-size: 14px;
			font-weight: 700;
			line-height: 28 / 14 * 100%;
			color: $c-grey-363838;
		}
	}
	// .contact-footer__form
	&__form {
		@media (min-width: $md4+px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-width: 540px;
		}
	}
	// .contact-footer__input
	&__input {
		flex: 0 1 368px;
		display: flex;
		align-items: center;
		height: 40px;
		margin: 0px 9px 0px 0px;
		background: transparent;
		border: 1px solid rgba($c-grey-363838, 0.7);
		border-radius: 21px;
		overflow: hidden;
		@media (max-width: $md4+px) {
			margin: 0px 0px 15px 0px;
			max-width: 360px;
		}
	}
	// .contact-footer__button
	&__button {
	}
}

.input {
	&::placeholder {
		color: $c-red;
	}
}

.social-footer {
	// .social-footer__item
	&__item {
	}
	// .social-footer__title
	&__title {
	}
	// .social-footer__body
	&__body {
	}
	// .social-footer__list
	&__list {
	}
	// .social-footer__link
	&__link {
		display: inline-flex;
		align-items: center;
		height: 28px;
		img {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		// .social-footer__link_image
		&_image {
			width: 16px;
			margin: 0px 10px 0px 0px;
		}
		// .social-footer__link_text
		&_text {
		}
	}
}

.more-footer {
	// .more-footer__item
	&__item {
		margin: 0px 0px 1px 0px;
	}
	// .more-footer__title
	&__title {
	}
	// .more-footer__body
	&__body {
	}
	// .more-footer__list
	&__list {
	}
	// .more-footer__link
	&__link {
		display: inline-flex;
		align-items: center;
		height: 28px;
	}
}
