@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,regular,600&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: inline-block;
}

._icon-close:before {
  content: "\e907";
}

._icon-header__icon_menu:before {
  content: "\e902";
}

._icon-works_icon-1:before {
  content: "\e908";
}

._icon-works_icon-2:before {
  content: "\e909";
}

._icon-works_icon-3:before {
  content: "\e90a";
}

._icon-about_play:before {
  content: "\e90b";
}

._icon-blog__search:before {
  content: "\e90c";
  color: #5a5a5a;
}

._icon-footer__envelope:before {
  content: "\e900";
}

._icon-footer__facebook:before {
  content: "\e901";
}

._icon-footer__instagram:before {
  content: "\e903";
}

._icon-footer__Pinterest:before {
  content: "\e904";
}

._icon-footer__whatsapp:before {
  content: "\e905";
}

._icon-footer__youtube:before {
  content: "\e906";
}

._icon-footer__twitter:before {
  content: "\e90d";
  color: #5a5a5a;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 16px;
  line-height: 168.75%;
  color: #5a5a5a;
  font-weight: 400;
  line-height: 168.75%;
  color: #5a5a5a;
}

body._lock {
  overflow: hidden;
}

body a {
  color: #5a5a5a;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

._container_fluid {
  max-width: 1920px;
  margin: 0 auto;
}

._container_big {
  margin: 0 auto;
}

._container_breadcrumbs {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: "Montserrat";
  color: #363838;
}

.title_section {
  padding: 0px 0px 10px 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 141.66667%;
  position: relative;
}

.title_section::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background: #979797;
  border-radius: 1px;
}

.title_item {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  color: #363838;
}

.title_paragraph {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 143.75%;
  color: #363838;
}

.title_big {
  font-family: "Montserrat";
  font-size: 60px;
  line-height: 133.33333%;
  color: #363838;
}

.button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 160px;
          flex: 0 1 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  color: #fffff0;
  background: #363838;
  border-radius: 21px;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #a1a1a1;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  outline: none;
  color: #363838;
}

.input {
  background: transparent;
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.swiper-pagination-bullet {
  height: 8px;
  width: 8px;
  background: #363838;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background: #ffef35;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.header {
  background: white;
}

.header__content {
  position: relative;
}

.header__logo {
  cursor: pointer;
}

.menu__icon {
  display: none;
}

.menu__link {
  display: block;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 137.5%;
  color: rgba(54, 56, 56, 0.9);
}

.menu__link_btn {
  display: none;
  cursor: pointer;
}

.wrapper_about .breadcrumbs__link_about {
  font-size: 17px;
  font-weight: 700;
  color: #cebe00;
}

.rightside {
  position: absolute;
  top: 120px;
  right: -100%;
  width: 100%;
  max-width: 694px;
  height: 100%;
  background: white;
  -webkit-box-shadow: 0px 0px 3px 1px #363838;
          box-shadow: 0px 0px 3px 1px #363838;
  z-index: 9;
  overflow: auto;
  pointer-events: all;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.rightside._active {
  right: 0;
}

.rightside__wrapper {
  position: fixed;
  left: 50%;
  top: 0;
  width: 100%;
  max-width: 1950px;
  height: 100%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
  pointer-events: none;
}

.rightside__close._active::before {
  top: 50%;
  background: #363838;
  -webkit-transform: rotate(-45deg) translate(0, 50%);
      -ms-transform: rotate(-45deg) translate(0, 50%);
          transform: rotate(-45deg) translate(0, 50%);
}

.rightside__close._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
      -ms-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
  background: #363838;
}

.rightside__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rightside__heading {
  max-width: 490px;
  text-align: center;
}

.rightside__title {
  position: relative;
  margin: 0px 0px 15px 0px;
}

.rightside__title::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 252px;
  height: 1px;
  margin: 0 auto;
  background: #979797;
}

.rightside__subtitle {
  margin: 0px 0px 75px 0px;
}

.rightside__image {
  max-width: 483px;
  max-height: 374px;
  position: relative;
  padding: 40%;
}

.rightside__image img {
  position: absolute;
  width: 100%;
  max-width: 483px;
  height: 100%;
  max-height: 374px;
  top: 0;
  left: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: auto;
}

.footer__content {
  background: #dfdfdf;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.footer__column_contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.footer__title {
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
  position: relative;
  padding: 0px 0px 15px 0px;
}

.footer__btn._init .footer__title::before,
.footer__btn._init .footer__title::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #363838;
  position: absolute;
  right: 20px;
  top: 12px;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.footer__btn._init .footer__title::after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.footer__btn._init .footer__title._active::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.footer__copyrighting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #363838;
  padding: 40px 0;
}

.footer__copyrighting_text {
  text-align: center;
  color: #a1a1a1;
}

.contact-footer__text {
  margin: 0px 0px 15px 0px;
  max-width: 475px;
}

.contact-footer__mail {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 22px 0px;
}

.contact-footer__mail_image {
  display: block;
  margin: 0px 15px 0px 0px;
  width: 16px;
  height: 12px;
}

.contact-footer__mail_text {
  font-size: 14px;
  font-weight: 700;
  line-height: 200%;
  color: #363838;
}

.contact-footer__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 368px;
          flex: 0 1 368px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin: 0px 9px 0px 0px;
  background: transparent;
  border: 1px solid rgba(54, 56, 56, 0.7);
  border-radius: 21px;
  overflow: hidden;
}

.input::-webkit-input-placeholder {
  color: red;
}

.input::-moz-placeholder {
  color: red;
}

.input:-ms-input-placeholder {
  color: red;
}

.input::-ms-input-placeholder {
  color: red;
}

.input::placeholder {
  color: red;
}

.social-footer__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28px;
}

.social-footer__link img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-footer__link_image {
  width: 16px;
  margin: 0px 10px 0px 0px;
}

.more-footer__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28px;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 0px;
  width: 100%;
  max-height: 90%;
  max-width: 70%;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.main-slider {
  max-height: 825px;
  overflow: hidden;
}

.slider-main__slide {
  position: relative;
  height: 100%;
  padding: 0px 0px 20px 0px;
  height: 100%;
  max-height: 100vh;
}

.slider-main__bg {
  position: absolute;
  width: 100%;
  height: 90%;
  max-height: 722px;
  top: 0;
  left: 0;
}

.slider-main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: relative;
  z-index: 1;
}

.slider-main__presentation {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
  padding: 26% 23%;
  margin: 0px 30px 0px 0px;
  position: relative;
  height: 100%;
  max-width: 703px;
  max-height: 815px;
}

.slider-main__presentation img {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 703px;
  max-height: 815px;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-main__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 54%;
          flex: 0 1 54%;
  position: relative;
}

.slider-main__heading {
  max-width: 635px;
}

.slider-main__title {
  margin: 0px 0px 20px 0px;
}

.slider-main__title::before {
  width: 40%;
  max-width: 180px;
}

.slider-main__btn {
  width: 60%;
  height: 30px;
  max-width: 110px;
}

.slider-main__dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new-collection__heading {
  max-width: 730px;
  margin: 0 auto;
  text-align: center;
  margin: 0px auto 50px auto;
}

.new-collection__title {
  margin: 0px 0px 20px 0px;
}

.new-collection__title::before {
  right: 0;
  margin: 0 auto;
  width: 252px;
  background: #6d7278;
}

.collections__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collections__item {
  position: relative;
}

.collections__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  max-width: 350px;
  max-height: 350px;
  padding: 0 10px;
}

.collections__column_bg {
  padding: 50%;
  max-width: 350px;
  max-height: 350px;
  position: relative;
}

.collections__column_bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 350px;
  top: 0;
  left: 0;
  z-index: 1;
}

.collections__column_hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.collections__column__heading {
  cursor: pointer;
}

.collections__subtitle {
  font-size: 14px;
  font-weight: 600;
}

html._touch .collections__column._active .collections__item .collections__column_hover {
  opacity: 1;
}

html._touch .collections__column._active .collections__item .collections__column_hover .collections__column__heading {
  pointer-events: all;
}

.decor-index {
  margin: 0px 0px 70px 0px;
  min-height: 200px;
  max-height: 616px;
}

.decor {
  position: relative;
  padding: 10.45% 0;
}

.decor__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.decor__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
}

.decor__title {
  padding: 0px 0px 22px 0px;
  margin: 0px 0px 22px 0px;
}

.decor__title span {
  display: block;
}

.decor__title_index {
  position: relative;
}

.decor__title_index::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 1px;
  background: #5a5a5a;
}

.decor__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 175%;
  color: #5a5a5a;
}

.decor__subtitle span {
  display: block;
}

html._touch .decor._active .decor__heading {
  opacity: 1;
}

.works ._icon-works_icon-1::before,
.works ._icon-works_icon-2::before,
.works ._icon-works_icon-3::before {
  font-weight: 700;
  color: #363838;
}

.works__title {
  text-align: center;
}

.works__item {
  max-width: 250px;
  margin: 0px 0px 20px 0px;
}

.works__item-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 13px 0px;
}

.works__item-image {
  font-size: 30px;
  font-weight: 900;
  margin: 0px 10px 0px 0px;
}

.works__item-title {
  font-size: 16px;
  line-height: 143.75%;
}

.works__item-text {
  font-size: 16px;
  line-height: 168.75%;
  color: #5a5a5a;
}

.gallery {
  padding: 40px 0 80px 0;
}

.gallery__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 40px 0px;
}

.gallery__btn {
  margin: 0 13px;
  padding: 6px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  color: #8f8d8d;
  outline: none;
  background: transparent;
  border: 1px solid rgba(69, 70, 71, 0.5);
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.gallery__btn.mixitup-control-active {
  color: #363838;
  background: rgba(255, 239, 53, 0.5);
  border: 1px solid rgba(54, 56, 56, 0.5);
}

.gallery__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px 35px;
}

.gallery__item:nth-child(1) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  max-height: 1148px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-spoller__title {
  padding: 0px 0px 0px 10px;
  position: relative;
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
  margin: 0px 0px 20px 0px;
}

.gallery-spoller__btn._init .gallery-spoller__title::before,
.gallery-spoller__btn._init .gallery-spoller__title::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #363838;
  position: absolute;
  right: 20px;
  top: 12px;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.gallery-spoller__btn._init .gallery-spoller__title::after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.gallery-spoller__btn._init .gallery-spoller__title._active::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.blog-box {
  padding: 40px 0px 75px 0px;
}

.blog-box__title {
  max-width: 430px;
  margin: 0px auto 29px auto;
  text-align: center;
}

.blog-box__img-link {
  margin: 0px 0px 20px 0px;
}

.blog-box__img-link img {
  max-width: 100%;
}

.blog-box__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 7px 0px;
}

.blog-box__item-title {
  display: block;
}

.breadcrumbs {
  width: 100%;
  height: 55px;
  max-width: 1920px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(223, 223, 223, 0.5);
}

.breadcrumbs__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1230px;
  height: 55px;
  padding: 0 15px;
}

.breadcrumbs__item::after {
  content: "/";
  margin: 0px 3px 0px -2px;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 200%;
  color: #5a5a5a;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

html._touch .breadcrumbs__link:active {
  color: #b5930f;
}

.decor-about {
  min-height: 170px;
  max-height: 400px;
  position: relative;
}

.decor__heading_about {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.description-about__content .title_section {
  position: relative;
}

.description-about__content .title_section::before {
  width: 100%;
  height: 1px;
  max-width: 200px;
  background: #6d7278;
}

.description-about__title {
  max-width: 825px;
  padding: 0px 0px 25px 0px;
  margin: 0px 0px 25px 0px;
}

.description-about__text-wrapper {
  max-width: 830px;
  margin-left: auto;
}

.description-about__text {
  margin: 0px 0px 25px 0px;
}

.description-about__text:last-child {
  margin: 0;
}

.video-about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 40px 90px 0px;
  padding: 10%;
  width: 100%;
  min-height: 170px;
  max-height: 414px;
  max-width: 1920px;
  position: relative;
}

.video-about__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.video-about__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.video-about__link::before {
  content: "";
  display: block;
  padding: 35px;
  position: absolute;
  max-width: 80px;
  max-width: 80px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #979797;
  border-radius: 50%;
}

.video-about__link img {
  position: relative;
  z-index: 2;
  left: 2px;
}

.inspiration-about {
  max-height: 555px;
  position: relative;
}

.inspiration-about__bg {
  position: absolute;
  width: 100%;
  height: 90%;
  min-height: 414px;
  left: 0;
  bottom: 0;
}

.inspiration-about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.inspiration-about__product {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 433px;
          flex: 0 1 433px;
  max-width: 433px;
  margin: 0px 78px 0px 0px;
  max-height: 507px;
  position: relative;
}

.inspiration-about__product img {
  max-width: 100%;
}

.inspiration-about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 824px;
          flex: 0 1 824px;
  max-width: 824px;
  position: relative;
  z-index: 2;
}

.inspiration-about__heading .title_section::before {
  width: 200px;
  height: 1px;
  background: #979797;
}

.inspiration-about__title {
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 15px 0px;
}

.inspiration-about__subtitle {
  margin: 0px 0px 25px 0px;
}

.inspiration-about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 14px 0px;
  margin: 0px 0px 30px 0px;
  position: relative;
}

.inspiration-about__item::before,
.inspiration-about__item::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
}

.inspiration-about__item::before {
  width: 100%;
  background: white;
  z-index: 1;
}

.inspiration-about__item::after {
  z-index: 2;
  background: #363838;
}

.inspiration-about__item:nth-child(1)::after {
  width: 80%;
}

.inspiration-about__item:nth-child(2)::after {
  width: 70%;
}

.inspiration-about__item:nth-child(3)::after {
  width: 75%;
}

.inspiration-about__item:nth-child(4)::after {
  width: 40%;
}

.inspiration-about__text {
  margin: 0px 20px 0px 0px;
}

.partners {
  padding: 15px 0;
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 320px;
}

.partners__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  padding: 0 10px;
}

.partners__image {
  width: 100%;
}

.partners__image img {
  max-width: 100%;
}

.collection-about {
  padding: 54px 0 78px 0;
}

.collection-about__row {
  margin: 0 auto;
  max-width: 1920px;
}

@media (min-width: 440px) {
  .gallery-spoller__title {
    display: none;
  }
}

@media (min-width: 480px) {
  .contact-footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 540px;
  }
}

@media (min-width: 600px) {
  .header {
    position: relative;
  }

  .header__menu {
    height: 70px;
  }

  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .menu__body {
    height: 70px;
  }

  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .wrapper_about .menu__link_about {
    position: relative;
  }

  .wrapper_about .menu__link_about::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -7px;
    background: rgba(54, 56, 56, 0.7);
  }

  .works__items-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }

  .works__items-box::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    left: 0;
    bottom: 0;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    background: #363838;
    border-radius: 50%;
  }

  .works__item-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .works__item-wrapper_row {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #363838;
  }

  .works__item {
    padding: 40px 0px;
    height: 100%;
  }

  .works__item_line-top,
  .works__item_line-bottom {
    position: relative;
  }

  .works__item_line-top::after,
  .works__item_line-bottom::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 1px;
    background: #363838;
  }

  .works__item_line-bottom::after {
    left: 0;
    bottom: 0;
  }

  .works__item_line-top::after {
    left: 0;
    top: 0;
  }
}

@media (min-width: 650px) {
  .slider-main__btn {
    display: none;
  }
}

@media (min-width: 741px) {
  .social-footer__item {
    margin: 0px 0px 15px 0px;
  }

  .social-footer__title {
    display: none;
  }

  .more-footer__item {
    margin: 0px 0px 16px 0px;
  }

  .more-footer__title {
    display: none;
  }
}

@media (min-width: 768px) {
  .menu__link_btn {
    display: block;
    position: relative;
  }

  .rightside__close {
    width: 26px;
    height: 26px;
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / 1600));
    position: relative;
    z-index: 10;
    cursor: pointer;
  }

  .rightside__close span,
  .rightside__close::before,
  .rightside__close::after {
    height: 5%;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.5s ease 0.3s;
    -o-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;
    background: transparent;
  }

  .rightside__close::before,
  .rightside__close::after {
    content: "";
    -webkit-transition: all 0.5s ease 0.3s;
    -o-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;
  }

  .rightside__close span {
    display: none;
  }

  .rightside__close::before {
    top: 0;
  }

  .rightside__close::after {
    bottom: 0;
  }

  .blog-box__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 -15px;
  }

  .blog-box__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    min-height: 100%;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blog-box__nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }

  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header {
    height: 70px;
  }

  .collections__item:hover {
    pointer-events: all;
  }

  .collections__item:hover .collections__column_hover {
    opacity: 1;
  }

  .collections__column__heading {
    text-align: center;
  }

  .decor:hover .decor__heading {
    opacity: 1;
  }

  .breadcrumbs__link:hover {
    color: #b5930f;
  }
}

@media (min-width: 1152px) {
  .header {
    height: 120px;
  }

  .header__menu {
    height: 120px;
  }

  .menu__body {
    height: 120px;
  }

  .menu__list_left .menu__link {
    margin: 0px 80px 0px 0px;
  }

  .menu__list_right .menu__link {
    margin: 0px 0px 0px 80px;
  }

  .menu__link_btn {
    margin: 0px 0px 0px 60px;
  }

  .rightside {
    padding: 40px 45px;
  }

  .rightside__close {
    margin: 0px 0px 30px 0px;
  }

  .rightside__logo {
    margin: 0px 0px 26px 0px;
  }

  .footer__content {
    padding: 60px 0 80px 0;
  }

  .footer__column {
    padding: 0px 0px 0px 99px;
  }

  .footer__column_contact {
    padding: 0;
  }

  .main-slider {
    max-height: 1200px;
  }

  .slider-main__title {
    font-size: 110px;
    line-height: 121.81818%;
  }

  .new-collection {
    padding: 130px 0 115px 0;
  }

  .description-about {
    padding: 100px 0 70px 0;
  }
}

@media (min-width: 1920px) {
  ._container_big {
    max-width: 1890px;
  }

  .swiper-pagination-bullet {
    margin: 0px 29px 0px 0px;
  }

  .swiper-pagination-bullet:last-child {
    margin: 0;
  }

  .slider-main__slide {
    padding: 0px 150px;
  }

  .video-about {
    width: 1920px;
    height: 414px;
    margin: 40px auto 90px auto;
  }
}

@media (max-width: 1920px) {
  ._container_big {
    padding: 0 10px;
  }

  .swiper-pagination-bullet {
    margin-right: calc(15px + 14 * ((100vw - 320px) / 1600));
  }

  .swiper-pagination-bullet:last-child {
    margin: 0;
  }

  .slider-main__slide {
    padding-top: calc(10px + 20 * ((100vw - 320px) / 1600));
    padding-right: calc(10px + 140 * ((100vw - 320px) / 1600));
    padding-bottom: calc(10px + 20 * ((100vw - 320px) / 1600));
    padding-left: calc(10px + 140 * ((100vw - 320px) / 1600));
  }

  .new-collection__heading {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1600));
  }

  .blog-box {
    padding-top: calc(0px + 40 * ((100vw - 320px) / 1600));
    padding-bottom: calc(30px + 45 * ((100vw - 320px) / 1600));
  }

  .blog-box__title {
    margin-bottom: calc(15px + 14 * ((100vw - 320px) / 1600));
  }

  .collection-about {
    padding-top: calc(20px + 34 * ((100vw - 320px) / 1600));
    padding-bottom: calc(25px + 53 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 1300px) {
  .collections__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .collections__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 1152px) {
  ._container {
    max-width: 970px;
  }

  .title_section {
    font-size: calc(30px + 6 * ((100vw - 320px) / 1600));
  }

  .rightside {
    padding-top: calc(10px + 30 * ((100vw - 320px) / 1600));
    padding-right: calc(10px + 35 * ((100vw - 320px) / 1600));
    padding-bottom: calc(10px + 30 * ((100vw - 320px) / 1600));
    padding-left: calc(10px + 35 * ((100vw - 320px) / 1600));
  }

  .rightside {
    max-width: 520px;
    top: 70px;
  }

  .rightside__logo {
    margin-bottom: calc(15px + 11 * ((100vw - 320px) / 1600));
  }

  .rightside__subtitle {
    margin-bottom: calc(25px + 50 * ((100vw - 320px) / 1600));
  }

  .footer__content {
    padding-top: calc(20px + 40 * ((100vw - 320px) / 1600));
    padding-bottom: calc(30px + 50 * ((100vw - 320px) / 1600));
  }

  .footer__column {
    padding-left: calc(20px + 79 * ((100vw - 320px) / 1600));
  }

  .footer__column_contact {
    padding: 0;
  }

  .footer__copyrighting {
    padding-top: calc(15px + 25 * ((100vw - 320px) / 1600));
    padding-bottom: calc(15px + 25 * ((100vw - 320px) / 1600));
  }

  .footer__copyrighting_text {
    font-size: calc(13px + 3 * ((100vw - 320px) / 1600));
  }

  .slider-main__title {
    font-size: calc(26px + 84 * ((100vw - 320px) / 1600));
    line-height: 121.81818%;
  }

  .new-collection {
    padding-top: calc(30px + 100 * ((100vw - 320px) / 1600));
    padding-bottom: calc(30px + 85 * ((100vw - 320px) / 1600));
  }

  .new-collection__title {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
  }

  .decor {
    margin-bottom: calc(30px + 40 * ((100vw - 320px) / 1600));
  }

  .gallery {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 1600));
    padding-bottom: calc(20px + 60 * ((100vw - 320px) / 1600));
  }

  .breadcrumbs {
    height: 40px;
  }

  .breadcrumbs__menu {
    height: 40px;
    top: 70px;
  }

  .description-about {
    padding-top: calc(0px + 100 * ((100vw - 320px) / 1600));
    padding-bottom: calc(20px + 50 * ((100vw - 320px) / 1600));
  }

  .description-about__title {
    padding-bottom: calc(10px + 15 * ((100vw - 320px) / 1600));
    margin-bottom: calc(10px + 15 * ((100vw - 320px) / 1600));
  }

  .video-about__wrapper {
    margin-top: calc(20px + 20 * ((100vw - 320px) / 1600));
    margin-bottom: calc(30px + 60 * ((100vw - 320px) / 1600));
  }

  .video-about__link::before {
    padding-top: calc(20px + 15 * ((100vw - 320px) / 1600));
    padding-right: calc(20px + 15 * ((100vw - 320px) / 1600));
    padding-bottom: calc(20px + 15 * ((100vw - 320px) / 1600));
    padding-left: calc(20px + 15 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 992px) {
  ._container {
    max-width: 750px;
  }

  .title_big {
    font-size: calc(25px + 35 * ((100vw - 320px) / 1600));
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .collections__column__heading {
    pointer-events: none;
  }

  .decor__heading_index {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: calc(10px + 12 * ((100vw - 320px) / 1600));
  }

  .decor__title {
    margin-bottom: calc(10px + 12 * ((100vw - 320px) / 1600));
    padding-bottom: calc(10px + 12 * ((100vw - 320px) / 1600));
  }

  .gallery__items {
    grid-gap: 10px 15px;
  }

  .description-about__text-wrapper {
    padding-left: calc(15px + 15 * ((100vw - 320px) / 1600));
  }

  .video-about__link img {
    width: 30px;
    height: 30px;
  }

  .inspiration-about__product {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 330px;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
  }

  .inspiration-about__product img {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .gallery__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 20px 0;
  }

  .gallery__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    margin: 0px 5px 10px 5px;
  }
}

@media (max-width: 768px) {
  ._container {
    max-width: none;
    padding: 0 15px;
  }

  .header__menu {
    padding: 0 30px;
  }

  .rightside {
    display: none;
  }

  .rightside__wrapper {
    display: none;
  }

  .popup__body {
    max-width: 80%;
  }

  .collections__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .collections__column:last-child {
    margin: 0;
  }

  .collections__title {
    font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
  }

  .collections__subtitle {
    font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  }

  .gallery__items {
    grid-gap: 5px 5px;
  }

  .blog-box__item:nth-child(1) {
    margin: 0px 0px 30px 0px;
  }

  .blog-box__img-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .blog-box__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .blog-box__item-title h4 {
    max-width: 540px;
    margin: 0 auto;
  }

  .video-about__link img {
    width: 25px;
    height: 25px;
  }

  .partners__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .partners__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}

@media (max-width: 741px) {
  .social-footer__item {
    margin-bottom: calc(7px + 8 * ((100vw - 320px) / 1600));
  }

  .more-footer__item {
    margin-bottom: calc(7px + 10 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 740px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid rgba(54, 56, 56, 0.3);
  }

  .footer__column:last-child {
    margin: 0;
  }

  .footer__column_contact {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 650px) {
  .slider-main__presentation {
    margin-right: calc(10px + 20 * ((100vw - 320px) / 1600));
  }

  .slider-main__title {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
  }

  .slider-main__subtitle {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .header__menu {
    height: 50px;
    padding-left: calc(5px + 15 * ((100vw - 320px) / 1600));
    padding-right: calc(5px + 15 * ((100vw - 320px) / 1600));
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__icon {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 11;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    height: 10%;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: black;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
        -ms-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0, -50%);
        -ms-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }

  .menu__body {
    height: 50px;
  }

  .menu__body {
    position: fixed;
    left: 0;
    top: -100%;
    height: 100%;
    width: 100%;
    padding: 90px 30px 30px 30px;
    background: rgba(0, 0, 0, 0.9);
    overflow: auto;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: 10;
  }

  .menu__body::before {
    content: "";
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    border-bottom: 1px solid rgba(223, 223, 223, 0.7);
    z-index: 10;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__body._active::before {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  }

  .menu__item {
    margin: 0px 0px 30px 0px;
  }

  .menu__link {
    color: white;
    font-size: calc(38px + -22 * ((100vw - 320px) / 1600));
  }

  .wrapper_about .menu__link_about {
    color: #cebe00;
  }

  .slider-main {
    padding: 50px 0px 0px 0px;
  }

  .works__title {
    margin: 0px 0px 30px 0px;
  }

  .works__item_line-bottom {
    margin-left: auto;
  }

  .breadcrumbs {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 3;
  }

  .breadcrumbs__menu {
    top: 50px;
  }

  .decor-about__wrapper {
    padding: 50px 0px 0px 0px;
  }
}

@media (max-width: 600px) and (max-width: 600px) {
  .menu__body::before {
    height: 50px;
  }
}

@media (max-width: 599px) {
  .header__logo {
    display: block;
    position: relative;
    z-index: 11;
  }
}

@media (max-width: 580px) {
  .gallery__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    margin: 0px 5px 10px 5px;
  }
}

@media (max-width: 550px) {
  .decor__subtitle {
    display: none;
  }
}

@media (max-width: 480px) {
  .button {
    width: 140px;
    border-radius: 21px;
  }

  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contact-footer__input {
    margin: 0px 0px 15px 0px;
    max-width: 360px;
  }

  .popup__body {
    width: 90%;
  }

  .collections__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 440px) {
  .gallery__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }
}

@media (min-width: 600px) and (max-width: 1152px) {
  .menu__list_left .menu__link {
    margin-right: calc(20px + 60 * ((100vw - 320px) / 1600));
  }

  .menu__list_right .menu__link {
    margin-left: calc(20px + 60 * ((100vw - 320px) / 1600));
  }

  .menu__link_btn {
    margin-left: calc(20px + 40 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 992px) and (max-width: 1152px) {
  .inspiration-about__product {
    margin-right: calc(-20px + 98 * ((100vw - 320px) / 1600));
  }
}